.itemHover2 {
    border-radius: 50%;
    width: 128px;
    height: 128px;
    position: relative;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.itemHover2 .bgHover {
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    position: absolute;
}

.itemHover2 .bgHover div {
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-color: rgb(37, 37, 37);
    mix-blend-mode: difference;
    position: relative;
    z-index: 100;
    transform: scale(0);
    transition: 300ms ease-out;
}
.itemHover2:hover .bgHover div {
    transform: scale(1);
    transition: 1s;
}

/* MD */
@media screen and (min-width: 768px) {
    .itemHover2 {
        width: 176px;
        height: 176px;
    }
}


/* LG */
@media screen and (min-width: 1024PX) {
    .itemHover2 {
        width: 224px;
        height: 224px;
    }
}