#post-content h1 {
    font-size: 4rem;
    font-weight: bold;
    font-family: serif;
    margin: 24px 0 28px;
}

#post-content p {
    margin-bottom: 16px;
}

#post-content .first-paragraph::first-letter {
    font-size: 4rem;
    font-weight: bold;
    font-family: serif;
    float: left;
    line-height: 0.75;
    margin-right: 10px;
}

#post-content img {
    width: 50%;
    max-height: 60vh;
    object-fit: cover;
    margin-bottom: 24px;
}

@media screen and (max-width: 1620px) {
    #post-content img {
        width: 75%;
        max-height: fit-content;
        object-fit: cover;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 765px) {
    #post-content img {
        width: 100%;
        max-height: fit-content;
        object-fit: cover;
        margin-bottom: 24px;
    }
}
