@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .font-outline-2 {
      -webkit-text-stroke: 2px #222;
    }
    .font-outline-4 {
      -webkit-text-stroke: 4px #222;
    }
    .font-outline-2-slate-200 {
      -webkit-text-stroke: 2px #E1E1E1;
    }
    /* ::-webkit-scrollbar {
      width: 8px;
    }
    
    ::-webkit-scrollbar-track {
      background: none;
    }
    
    ::-webkit-scrollbar-thumb {
      background: #888;
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    } */
  }